<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8" />
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
    <meta name="viewport" content="width=device-width" />
    <title>SoftProject</title>

    <!-- Bootstrap, CSS and JS -->
    <link href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css" rel="stylesheet"/>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>

</head>
<body>
<div class="panel panel-default">
    <div class="panel-heading">
        <strong>Lista de Pessoas</strong>
    </div>
    <div>
        <strong>
            <span style="text-align: center; color: navy" th:text="${msg}"></span>
        </strong>
    </div>
    <div class="panel-body">
        <div class="container">
            <div id="listaDePessoas">
                <table class="table table-hover">
                    <thead>
                    <tr>
                        <th>Nome</th>
                        <th>Data Nascimento</th>
                        <th>CPF</th>
                        <th>Funcionário</th>
                        <th></th>
                    </tr>
                    </thead>
                    <tr th:each="pessoa : ${pessoas}">
                        <td> <span th:text="${pessoa.nome}"></span> </td>
                        <td> <span th:text="${#dates.format(pessoa.datanascimento, 'dd/MM/yyyy')}"></span> </td>
                        <td> <span th:text="${pessoa.cpf}"></span> </td>
                        <td> <input type="checkbox" th:checked="${pessoa.funcionario}" disabled> </td>
                        <td>
                            <div class="btn-group pull-right">
                                <a th:href="@{/editarpessoa/{id}(id=${pessoa.id})}" class="btn btn-sm btn-primary">Editar</a>
                                <a th:href="@{/excluirpessoa/{id}(id=${pessoa.id})}" onclick="return confirm('Dejesa realmente excluir?')" class="btn btn-sm btn-danger">Excluir</a>
                            </div>
                        </td>
                    </tr>
                </table>
            </div>
        </div>

        <hr/>

        <div style ="text-align: left; margin-left: 100px;">
            <a href="cadpessoa" class="btn btn-sm btn-success align-items-start">Cadastro</a>
            <a href="/" class="btn btn-sm btn-primary align-items-start">Voltar</a>
        </div>
    </div>
</div>

</body>
</html>